button{

    background-color: green;
    color:white;
    
    }
    body{
        text-align: center;
        background-image: url(http://cdn.wallpapersafari.com/5/55/Plj8dG.jpg);
    }
    h1,h2{
        color: gold;
    }